
li{
    list-style: none;
    padding: 5px 0;
    border: 1px solid black ;
    width: 30%;
    margin-top: 2px;
}
span{
    
    display: flex;
  
    justify-content: space-between;
    align-items: center;
}
.danger{
    margin-right: 2px;
    background-color: red;

}
.list-group-item-success{
 background-color: aquamarine;

}
.input-form{
    width: 32%;
}